<div class="center jumbotron">
   <h1>CWA Build v0.1</h1>

   <h2>
   This is the welcome screen for Cooking with Anadi
   </h2>

   <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

